@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Open Sans', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

:root {
    --ui-primary: #7ca6d8;
    --ui-secondary: #fff34e;
}
